version: "3"
services:
  {{.ProjectName}}:
    build:
      context: ./
      dockerfile: ./Dockerfile-development
    container_name: {{.ProjectName}} 
    env_file: .env
    networks:
      - default
    ports:
      - 3000:3000
      - 3110:3100
    volumes:
      - .:/go/src/{{.ModuleName}}

networks:
  default:
    external:
      name: chage_your_network_name
