package main

import (
	"fmt"
	"os"
	"net"
	"net/http"
	"strings"
	"time"

  myMiddL "{{.ModuleName}}/middleware"
	helperGRPC "git.innovasive.co.th/backend/grpc"
	"git.innovasive.co.th/backend/helper"
	helperMiddl "git.innovasive.co.th/backend/helper/middleware"
	helperRoute "git.innovasive.co.th/backend/helper/route"
	"git.innovasive.co.th/backend/psql"
	_util_resty "git.innovasive.co.th/backend/resty"

  "{{.ModuleName}}/route"
  _util_tracing "{{.ModuleName}}/utils/opentracing"
	"github.com/getsentry/sentry-go"
	sentryecho "github.com/getsentry/sentry-go/echo"
	"github.com/labstack/echo/v4"
	echoMiddL "github.com/labstack/echo/v4/middleware"
	"github.com/opentracing/opentracing-go"
	"github.com/spf13/cast"
	"github.com/xeipuuv/gojsonschema"
	"google.golang.org/grpc"
)

var (
	grpcMaxReceiveSize = (1024 * 1024) * cast.ToInt(helper.GetENV("GRPC_MAX_RECEIVE_SIZE", "4"))
)

var (
	APP_PORT                = helper.GetENV("APP_PORT", "3000")
	GRPC_PORT               = helper.GetENV("GRPC_PORT", "3100")
	JWT_SECRET              = helper.GetENV("JWT_SECRET", "amic64")
	ALLOW_ORIGIN            = strings.Split(helper.GetENV("ALLOW_ORIGIN", "*"), ",")
	ALLOW_ORIGIN_HEADER     = strings.Split(helper.GetENV("ALLOW_ORIGIN_HEADER", ""), ",")
	ALLOW_ORIGIN_CREDENTIAL = cast.ToBool(helper.GetENV("ALLOW_ORIGIN_CREDENTIAL", "false"))
	PSQL_DATABASE_URL       = helper.GetENV("PSQL_DATABASE_URL", "postgres://postgres:postgres@psql_db:5432/app_example?sslmode=disable")
	SENTRY_DSN              = helper.GetENV("SENTRY_DSN", "")
	JAEGER_SERVICE_NAME     = helper.GetENV("JAEGER_SERVICE_NAME", "")
)

func sqlDBWithTracing(con string, tracer opentracing.Tracer) *psql.Client {
	db, err := psql.NewConnectionWithTracing(con, psql.Postgres, tracer)
	if err != nil {
		panic(err)
	}
	return db
}

func getJSONSchemaLoader(path string) *gojsonschema.Schema {
	bu, err := os.ReadFile(path)
	if err != nil {
		panic(err)
	}
	loader := gojsonschema.NewSchemaLoader()
	loader.Draft = gojsonschema.Draft7
	loader.AutoDetect = false
	schema, err := loader.Compile(gojsonschema.NewBytesLoader(bu))
	if err != nil {
		panic(err)
	}

	return schema
}

func getResty(host string, debug bool) *_util_resty.Client {
	c := _util_resty.New(host, debug)
	c.GetRestyClient().RetryCount = 5
	c.GetRestyClient().SetTimeout(20 * time.Second)
	c.GetRestyClient().SetDebug(debug)
	return c
}

func main() {
	// /* init sentry */
	sentryErr := sentry.Init(sentry.ClientOptions{
		Dsn: SENTRY_DSN,
	})
	// /* init tracing*/
  tracer, closer := _util_tracing.Init("{{.ProjectName}}")
	defer closer.Close()
	opentracing.SetGlobalTracer(tracer)

	psqlClient := sqlDBWithTracing(PSQL_DATABASE_URL, tracer)
	defer psqlClient.GetClient().Close()

	// /* init grpc */
	server := helperGRPC.NewServer(JAEGER_SERVICE_NAME, SENTRY_DSN, grpc.MaxRecvMsgSize(grpcMaxReceiveSize))
	defer server.GracefulStop()

	e := echo.New()
	e.HTTPErrorHandler = helperMiddl.SentryCapture(e)
	helperRoute.RegisterVersion(e)

	e.Use(echoMiddL.Logger())
	e.Use(echoMiddL.Recover())
	e.Use(sentryecho.New(sentryecho.Options{Repanic: true}))

	e.GET("/", func(c echo.Context) error {
		return c.String(http.StatusOK, "Hello, World!")
	})

	middL := myMiddL.InitMiddleware(JWT_SECRET)
	e.Use(echoMiddL.Recover())
	e.Use(echoMiddL.CORSWithConfig(echoMiddL.CORSConfig{
		Skipper:          echoMiddL.DefaultSkipper,
		AllowOrigins:     ALLOW_ORIGIN,
		AllowHeaders:     ALLOW_ORIGIN_HEADER,
		AllowMethods:     []string{http.MethodGet, http.MethodHead, http.MethodOptions, http.MethodPut, http.MethodPatch, http.MethodPost, http.MethodDelete},
		AllowCredentials: ALLOW_ORIGIN_CREDENTIAL,
	}))
	e.Use(middL.InitContextIfNotExists)
	e.Use(middL.InputForm)
	e.Use(middL.SetTracer)

	r := route.NewRoute(e, middL)
	fmt.Println(r)
	/* repository */

	/* usecase */

	/* handler */

	/* gprc handler */

	/* validate */
	

	/* inject route */

	/* inject grpc route */
	gr := route.NewGRPCRoute(server)
  fmt.Println(gr)

	/* serve gprc */
	go func() {
		if r := recover(); r != nil {
			fmt.Println("error on start grpc server: ", r.(error))
		}
		startGRPCServer(server)
	}()

	/* serve echo */
	port := fmt.Sprintf(":%s", APP_PORT)
	if sentryErr == nil {
		sentry.CaptureException(e.Start(port))
	} else {
		e.Logger.Fatal(e.Start(port))
	}
}

func startGRPCServer(server *grpc.Server) {
	listen, err := net.Listen("tcp", fmt.Sprintf(":%s", GRPC_PORT))
	if err != nil {
		panic("failed to listen: " + err.Error())
	}

	/* serve grpc */
	fmt.Printf("Start grpc Server [::%s]\n", GRPC_PORT)
	if err := server.Serve(listen); err != nil {
		panic(err)
	}
}
